<?xml version="1.0"?>

<project name="copy-test" default="test1">

  <target name="test1">
    <mkdir dir="copytest" />
    <copy todir="copytest">
      <fileset dir="../../../classes">
        <include name="**/tasks/system/*.php" />
      </fileset>
      <fileset dir="../../classes">
        <include name="**/tasks/*.php" />
      </fileset>
      <mapper type="flatten" />
    </copy>
  </target>

  <target name="test4">
    <mkdir dir="copytest" />
    <copy todir="copytest" enableMultipleMappings="true">
      <mapper type="firstmatch">
        <mapper type="glob" from="*.xml" to="*.php1"/>
        <mapper type="glob" from="*.php" to="*.php2"/>
      </mapper>
      <fileset dir="../../../classes/phing/mappers"/>
    </copy>
  </target>

  <target name="cleanup">
    <delete dir="copytest" />
  </target>

</project>
