<?xml version="1.0"?>

<project name="copy-test" default="test1">

  <target name="test1">
    <mkdir dir="copytest" />
    <copy todir="copytest">
      <fileset dir="../../../classes">
        <include name="**/tasks/system/*.php" />
      </fileset>
      <fileset dir="../../classes">
        <include name="**/tasks/*.php" />
      </fileset>
      <mapper type="flatten" />
    </copy>
  </target>

  <target name="test2">
      <mkdir dir="copytest" />
      <copy todir="copytest">
          <fileset dir="../../../classes"/>
          <mapper type="composite">
              <mapper type="glob" from="*.xsl" to="*.from.xsl"/>
              <mapper type="glob" from="*.xml" to="*.from.xml"/>
              <mapper type="glob" from="*.php" to="*.from.php"/>
          </mapper>
      </copy>
  </target>

  <target name="test3">
      <mkdir dir="copytest" />
      <copy todir="copytest" enableMultipleMappings="true">
      <mapper type="chained">
          <mapper type="flatten"/>
          <mapper type="glob" from="*.php" to="test/path/*.php"/>
          <mapper>
              <mapper type="glob" from="*.php" to="*.php1"/>
              <mapper type="glob" from="*.php" to="*.php2"/>
          </mapper>
      </mapper>
      <fileset dir="../../../src/Mapper"/>
      </copy>
  </target>

  <target name="test4">
    <mkdir dir="copytest" />
    <copy todir="copytest" enableMultipleMappings="true">
      <mapper type="firstmatch">
        <mapper type="glob" from="*.xml" to="*.php1"/>
        <mapper type="glob" from="*.php" to="*.php2"/>
      </mapper>
      <fileset dir="../../../src/Mapper"/>
    </copy>
  </target>

  <target name="testCutDirsMapper">
    <property name="input" value="copytest/testinput"/>
    <property name="output" value="copytest/testoutput"/>
    <mkdir dir="${input}/a/b/c"/>
    <touch file="${input}/a/b/D"/>
    <touch file="${input}/a/b/c/E"/>
    <copy todir="${output}">
      <mapper type="cutdirs" to="2"/>
      <fileset dir="${input}"/>
    </copy>
  </target>

  <target name="cleanup">
    <delete dir="copytest" />
  </target>

</project>
