<?xml version="1.0"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="true"
         bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="false"
         convertWarningsToExceptions="false"
         processIsolation="true"
         stopOnFailure="true"
         syntaxCheck="false"
         verbose="true"
         strict="true">
    <testsuites>
        <testsuite name="AllTests">
            <directory>classes/phing/</directory>
        </testsuite>
    </testsuites>
</phpunit>
