.buildpath
.project
.settings
.idea
build/full
build/pear
test/reports
docs/api/docs
vendor
bin/composer-php
bin/composer-php.bat
bin/jsonlint
bin/pdepend
bin/pear
bin/peardev
bin/pecl
bin/phpcbf
bin/phpcpd
bin/phpcs
bin/phpdoc
bin/phpdoc.php
bin/phploc
bin/phpmd
bin/phpunit
bin/validate-json
