*.php ident
*.html ident
bin/* ident
*.css ident
*.xsl ident
*.rng ident

# merge strategy ours
# git config merge.ours.driver true
README.md merge=ours
.travis.sh merge=ours
.travis.yml merge=ours
.gitattributes merge=ours