<?php

$finder = PhpCsFixer\Finder::create()
    ->in('src/Phing')
    ->in('tests/Phing')
;

$config = new PhpCsFixer\Config();
return $config->setRules([
        '@PSR12' => true,
        '@PHP74Migration' => true
    ])
    ->setFinder($finder)
;
