language: php
php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - hhvm
  - hhvm-nightly
 
matrix:
    allow_failures:
        - php: hhvm-nightly

script: ./.travis.sh

notifications:
  irc: "chat.freenode.net#phing"
