/**
 * DocBook CSS Stylesheet for producing the JpGraph HTML manual
 * 
 * Version: $Id$
 *
 */
@import url("highlight.css");
/* This is reserved for the part header */
h1{
    font-size:1.7em;
    font-weight:bold;
    color:white;
    background-color:#3780aE;
    border:2px solid #17608E;
    margin-left:0px;
    margin-bottom:15px;
    margin-top:0px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:15px;
    padding-top:15px;
}
/* This is reserved for the chapter header */
h2{
    font-size:1.8em;
    font-weight:bold;
    font-variant:small-caps;
    color:#555;
    line-height:1.7em;
    border-top:4px solid #777;
    margin:35px 0 15px 0;
}

/* This is reserved for the sect1 header */
div[class = sect1] h2{
    font-family:serif;
    font-size:1.5em;
    font-weight:bold;
    color:#555;
    line-height:1.7em;
    margin:15px 0px 5px 0px;
    border:none;
}

/* This is reserved for the sect2 header */
div[class = sect2] h3{
    font-family:serif;
    font-size:1.2em;
    font-weight:normal;
    color:#555;
    line-height:1.5em;
    margin:15px 0 5px 10px;
    border-bottom:none;
}

/* This is reserved for the sect3 header */
div[class = sect3] h4.title{
    font-family:serif;
    font-size:1.1em;
    font-weight:normal;
    color:#555;
    line-height:1.3em;
    /*top right bot left */
    margin:15px 0 5px 10px;
    border-bottom:none;
}

/* This is used for generic h3 header, e.g. sect2 */
/*h3 {
    font-size: 1.2em;
    font-weight: normal;
    color: #555;
    text-align: left;
    padding-left: 15px;
}*/
/* This is used for generic h3 header, e.g. sect3 */
div[class = note] h3,
div[class = tip] h3,
div[class = caution] h3{
    font-size:1em;
    color:#56a;
    font-weight:bold;
    padding-left:10px;
}

/* Titlepage authorgroup format */
div.authorgroup{
    margin-left:auto;
    margin-right:auto;
    margin-bottom:60px;
    text-align:center;
    border: solid 2px #ddd;
    width:350px;
    height:400px;
    box-shadow:5px 5px 5px #888;
}

h3.author{
    margin-bottom:4px;
}

p.copyright{
    text-align:center;
    font-weight:bold;
}

p.pubdate{
    text-align:center;
    font-weight:normal;
    font-style:italic;
    color:#555;
}

p.pubdate:before{
    content:"Publishing date: ";
}


div[class = sect1] p{
    margin-top:5px;
    margin-bottom:5px;
}

.filename,
.option{
    font-family:"Bitstream Vera Sans Mono", Courier, monospace;
}
.guimenu,
.guimenuitem{
    font-family:"Bitstream Vera Sans Mono", Courier, monospace;
    padding:0 3px;
    background-color:#FF7;
}
.classname{
    font-family:"Bitstream Vera Sans Mono", Courier, monospace;
    font-weight:bold;
}
.methodname{
    font-family:"Bitstream Vera Sans Mono", Courier, monospace;
    font-weight:bold;
}
.command{
    font-weight:bold;
}
.parameter{
    font-family:"Bitstream Vera Sans Mono", Courier, monospace;
}
.envar{
    font-family:"Bitstream Vera Sans Mono", Courier, monospace;
    font-weight:bold;
}
.function{
    font-family:"Bitstream Vera Sans Mono", Courier, monospace;
}
.variablelist{
    margin-left:15px;
}
.variablelist td{
    font-size:1em;
}
.variablelist th{
    font-size:1em;
}

pre.screen{
    display:block;
    font-family:"Bitstream Vera Sans Mono", Courier, monospace;
    font-size:10pt;
    font-weight:bold;
    padding:5px;
    overflow:hidden;
    background-color:#666;
    color:#eef;
    border:1px dashed #ccc;
    margin-left:10px;
    margin-right:15px;
    margin-top:8px;
    width:800px;
}

.synopsis{
    padding-left:5px;
    font-family:"Bitstream Vera Sans Mono", Courier, monospace;
    background-color:#fef3c1;
}

.important{
    margin-top:10px;
    margin-bottom:10px;
}

div.mediaobject{
    margin-top:15px;
    margin-bottom:15px;
}

.mediaobject img{
    margin-left:auto;
    margin-right:auto;
    display:block;
}


/* Admonitions */

.note,
.tip{
    background-color:#F8F7EF;
    padding-bottom:2px;
    margin-bottom:40px;
    margin-top:30px;
    padding-left:60px;
    border-left:6px solid #e68a00;
    background-image:url("img/admon-note.png");
    background-position:6px 0.5em;
    background-repeat:no-repeat;
    box-shadow:5px 5px 5px #888;
}

.caution,
.warning,
.important{
    background-color:#F8F7EF;
    padding-bottom:2px;
    margin-bottom:40px;
    margin-top:30px;
    padding-left:60px;
    border-left:6px solid #D55C21;
    background-image:url("img/admon-warning.png");
    background-position:6px 0.5em;
    background-repeat:no-repeat;
    box-shadow:5px 5px 5px #888;
}


.tip h3,
.note h3,
.caution h3,
.warning h3{
    padding-top:4px;
    background-color:#F8F7EF;
    color:#56a;
    font-weight:bold;
    font-style:italic;
    /*font-size: 1.05em;*/
    font-size:105%;
    margin-right:15px;
}

.tip{
    background-image:url("img/admon-tip.png");
}

.note p,
.tip p,
.caution p,
.warning p{
    font-size:.85em;
    font:italic .85em Georgia, serif;
}

.caution h3,
.warning h3{
    padding-top:4px;
    color:#922;
    font-weight:bold;
    font-style:italic;
    font-size:1.05em;
}

.screenshot{
    margin:10px;
    text-align:center;
}
.variablelist{
    margin-left:15px;
    margin-right:15px;
}

p,
.synopsis,
.example,
.formaltable{
    margin:0 10px 1em 10px;
}

a:hover{
    border-bottom:1px solid gray;
}

a,
a:visited{
    color:#000055;
    font-weight:normal;
    text-decoration:none;
}

.example{
    background:#fff;
    border:none;
    margin-left:0px;
    margin-right:15px;
}

.example p.title{
    font-size:0.85em;
}

p.formal-object-title span.label{
    font-weight:bold;
    font-style:italic;
    font-size:100%;
    color:#000; /*#aa5555;*/
    font-family:serif;
}

p.formal-object-title span.title{
    font-style:italic;
    font-family:serif;
    font-size:100%;
}

.example-contents{
    background-color:#fff;
    padding:2px;
}


.programlisting{
    display:block;
    background-color:#eee;
    box-shadow:5px 5px 5px #888;
    border:none;
    margin-bottom:15px;
    margin-top:5px;
    margin-left:15px;
    /*margin-right: 15px;*/
    width:800px;
    color:black;
    padding:8pt;
    font-size:95%;
    overflow:hidden;
}

code{
    white-space:pre;
    font-size:1.05em;
}

code.filename{
    font-weight:bold;
    font-size:0.9em;
    color:#00688b;
}

a.uri{
    font-weight:bold;
    font-size:1.1em;
    /*color: #00283b;*/
    color:#A34D32;
}

/* Cross reference links in the text */
a[class = xref]{
    text-decoration:none;
    color:#A34D32;
    font-weight:bold;
}

a[class = xref]:hover{
    text-decoration:none;
    color:#537d7b;
}

.uri .filename,
uri.filename{
    font-size:1.25em;
    background-image:url("img/text-document.png");
    background-position:1px 0px;
    background-repeat:no-repeat;
    margin-left:1px;
    padding-left:18px;
}

span.application{
    font-family:sans-serif;
    color:#282;
    font-style:italic;
    font-weight:bold;
}
span.command strong{
    font-family:monospace;
    font-weight:bold;
    font-size:120%;
    color:#336699;
}
code.literal{
    font-family:monospace;
    font-size:1.1em;
}

acronym.acronym{
    font-family:sans-serif;
    color:#282;
    font-weight:bold;
    font-size:0.9em;
}

span.markup{
    font-weight:bold;
    color:#8b2500;
    background-color:#eee;
}

.figure{
    margin-top:15px;
    margin-bottom:15px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

/*
.titlepage h2.title {
   font-weight:bold;
}
*/

/* Tables */

div.informaltable table{
    width:90%;
    text-align:center;
}

div.table{
    width:100%;
    display:block;
    text-align:center;
    margin-top:15px;
}
div.table-contents{
    margin-bottom:4px;
    display:block;
}
table{
    margin-left:auto;
    margin-right:auto;
    text-align:left;
}
thead{
    background:#eee;
}

thead th{
    border:1px solid #ccc;
    text-align:center;
}

div.table{
    margin-left:15px;
}

div.table-contents table{
    border:1px solid #ccc;
    border-collapse:collapse;
}

div.table-contents td{
    border:1px solid #ccc;
    padding:2px;
}

div.table-contents td p.checkmark:before{
    content:url("img/checkmark.png");
}

/* table column for attribute tables */
col.name{
    width:150px;
}
col.type{
    width:80px;
}
col.description{
    width:420px;
}
col.default{
    width:100px;
}
col.required{
    width:85px;
}

/* itemized lists*/
li.listitem{
    margin-top:0px;
    margin-bottom:0px;
}
li.listitem p{
    margin-top:0px;
    margin-bottom:0px;
}

/* Term list*/
span.term{
    font-weight:bold;
}

/* TOC */

.toc span.preface{
    padding-left:15px;
    font:bold 1.05em Arial, serif;
    font-style:italic;
}


.toc span.part{
    padding-left:15px;
    font:bold 1.3em Arial, serif;
}

span.chapter{
    padding-left:15px;
    font:normal 1.05em Arial, serif;
}

span.sect1{
    padding-left:15px;
    font-size:.85em;
    font:normal .85em Georgia, serif;

}

div.toc{
    background-color:#efeedd;
    border:1px solid #cebcac;
    padding-bottom:2px;
    padding-top:10px;
    margin-bottom:15px;
}

span.sect2{
    padding-left:15px;
    font-size:.85em;
    font:normal .85em Georgia, serif;

}


.toc b{
    font-size:1.5em;
    color:#555;
}

div.list-of-examples,
div.list-of-tables
{
    padding-top:10px;
    padding-bottom:5px;
    background-color:#e5ded2;
    background-color:#efeedd;
    border:1px solid #c5beb2;
    margin-bottom:-1px;
}

div.list-of-tables dl,
div.list-of-examples dl{
    margin-left:25px;
}

div.list-of-figures{
    padding-top:10px;
    padding-bottom:5px;
    background-color:#e5ded2;
    background-color:#efeedd;
    border:1px solid #c5beb2;
    margin-bottom:-1px;
    margin-top:-16px;
}

div.list-of-figures dl{
    margin-left:25px;
}

/* Navigation part of the output */

div.navheader{
    background-color:#ebf1e8;
}

div.navfooter{
    background-color:#ebf1e8;
}

div.navheader td{
    font-size:0.85em;
}

div.navfooter td{
    font-size:0.85em;
}


.error-text{
    font-size:small;
    color:#700000;
}

.error-number{
    font-size:small;
    color:#700000;
}


span.biblio-label {
    font-weight:bold;
    color:navy;
}

