/**
 * DocBook CSS Stylesheet for producing the Phing HTML manual using the
 * more graphic version of the terminal output.
 * 
 * Version: $Id$
 *
 */
@import url("highlight.css");
@import url("book.css");

/* Fancy screen/commands */

pre.screen
{
    margin:0px;
    margin-left:15px;
    padding:0px 5px;
    font-size:10pt;
    display:block;
    font-family:"Bitstream Vera Sans Mono", Courier, monospace;
    font-weight:normal;
    overflow:hidden;
    background:url(img/code-anonymous-middle.png) repeat-y;
}

.terminaltop
{
    margin-left:15px;
    background:url(img/code-anonymous-top.png) no-repeat;
    height:41px;
    /*width: 750px;*/
}

.terminalbottom
{
    margin-left:15px;
    height:37px;
    /*width: 750px;*/
    background:url(img/code-anonymous-bottom.png) no-repeat;
}






