/**
 * DocBook CSS Stylesheet for producing the JpGraph HTML manual
 * 
 * Version: $Id$
 *
 */

/* This is reserved for the part header */
h1 {
    font-size: 1.7em;
    font-weight: bold;
    color: white;
    background-color: #3780aE;
    border:2px solid  #17608E;
    margin-left: 0px;
    margin-bottom: 15px;
    margin-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
}
/* This is reserved for the chapter header */
h2 {
    font-size: 1.8em;
    font-weight: bold;
    font-variant: small-caps;
    color: #555;
    line-height: 1.7em;
    margin: 15px 0 15px 0;
}

/* This is reserved for the sect1 header */
div[class=sect1] h2 {
    font-size: 1.8em;
    font-weight: normal;
    color:#aa4444;
    line-height: 1.7em;
    margin: 55px 0px 15px 0px;  
    border-bottom: none;
}

/* This is reserved for the sect2 header */
div[class=sect2] h3 {
    font-size: 1.2em;
    font-weight: normal;
    color:#aa4444;
    line-height: 1.5em;
    margin: 35px 0 15px 15px;    
    border-bottom: none;
}

/* This is reserved for the sect3 header */
div[class=sect3] h4.title {
    font-size: 1.1em;
    font-weight: normal;
    color:#444;
    line-height: 1.3em;
    /*top right bot left */
    margin: 15px 0 15px 15px;
    border-bottom: none;
}

/* This is used for generic h3 header, e.g. sect2 */
/*h3 {
    font-size: 1.2em;
    font-weight: normal;
    color: #555;
    text-align: left;
    padding-left: 15px;
}*/
/* This is used for generic h3 header, e.g. sect3 */
div[class=note] h3,
div[class=tip] h3,
div[class=caution] h3{
    font-size: 1em;
    color: #56a;
    font-weight: bold;
    padding-left: 15px;
}

.filename, .option {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
}
.guimenu, .guimenuitem {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
    padding: 0 3px;
    background-color:#FF7;
}
.classname {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
    font-weight:bold;
}
.methodname {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
    font-weight:bold;
}
.command {
    font-weight: bold;
}
.parameter {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
}
.envar {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
    font-weight:bold;
}
.function {
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
}
.variablelist {
    margin-left: 15px;
}
.variablelist td {
    font-size: 1em;
}
.variablelist th {
    font-size: 1em;
}

.synopsis {
    padding-left: 5px;
    font-family: "Bitstream Vera Sans Mono", Courier, monospace;
    background-color: #fef3c1;
}

.important {
    margin-top: 10px;
    margin-bottom: 10px;
}

div.mediaobject {
    margin-top: 15px;
    margin-bottom: 15px;
}

.mediaobject img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


/* Admonitions */

.note,
.tip {
    background-color: #F8F7EF;
    padding-bottom: 2px;
    margin-bottom:40px;
    margin-top:30px;
    padding-left:60px;
    border-left:6px solid #e68a00;
    background-image: url("admon-note.png");
    background-position: 6px 0.5em;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #888;    
}

.caution,
.warning {
    background-color: #F8F7EF;
    padding-bottom: 2px;
    margin-bottom:40px;
    margin-top:30px;
    padding-left:60px;
    border-left:6px solid #D55C21;
    background-image: url("admon-warning.png");
    background-position: 6px 0.5em;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px #888;
}


.tip h3,
.note h3, 
.caution h3,
.warning h3 {
    padding-top: 4px;
    background-color: #F8F7EF;
    color:#56a;
    font-weight: bold;
    font-style: italic;
    /*font-size: 1.05em;*/
    font-size: 105%;
    margin-right:15px;   
}

.tip {
    background-image: url("admon-tip.png");
}

.note p,
.tip p,
.caution p,
.warning p {
    font-size: .85em;
    font: italic .85em Georgia, serif;
}

.caution h3,
.warning h3 {
    padding-top: 4px;
    color: #922;
    font-weight: bold;
    font-style: italic;
    font-size: 1.05em;
}


.warning {
    background-image: url("admon-bug2_small.png");
}


.important {
    background-color: #f18b8b;
}

.important h1 {
    background-color: #f18b8b;
}

.important .important_content {
    background-color: #f8cbcb;
    border-left: 4px solid #f18b8b;
    border-right: 4px solid #f18b8b;
    border-bottom: 4px solid #f18b8b;
    padding: 5px 0;
}

.screenshot {
    margin: 10px;
    text-align: center;
}
.variablelist {
    margin-left: 15px;
    margin-right: 15px;
}

p, .synopsis, .example, .important, .formaltable {
    margin: 0 15px 1em 15px;
}

a:hover {
    border-bottom: 1px solid gray;
}

a, a:visited {
    color: #000055;
    font-weight: normal;
    text-decoration: none;
}

.example {
	background: #fff;
	border: none;
	margin-left: 0px;
	margin-right: 15px;
}

.example p.title {
    font-size: 0.85em;
}

p.formal-object-title span.label {
    font-weight: bold;
    font-style: italic;
    font-size: 100%;
    color: #000; /*#aa5555;*/
    font-family: serif;
}

p.formal-object-title span.title {
    font-style: italic;
    font-family: serif;
    font-size: 100%;
}

.example-contents {
    background-color: #fff;
    padding: 2px;
}


.programlisting {
    display:block;
    background-color: #eee;
    box-shadow: 5px 5px 5px #888;
    border: none;
    margin-bottom: 25px;
    margin-top: 12px;
    margin-left: 15px;
    margin-right: 15px;
    color: black;
    padding: 8pt;
    font-size: 95%;
    overflow: hidden; 
}

code {
    white-space: pre;
    font-size: 1.05em;    
}

code.filename {
    font-weight: bold;
    font-size: 0.9em;
    color: #00688b;
}

a.uri {
    font-weight: bold;
    font-size: 1.1em;
    /*color: #00283b;*/
     color: #A34D32;
}

/* Cross reference links in the text */
a[class=xref] {
    text-decoration: none;
    color: #A34D32;
    font-weight: bold;
}

a[class=xref]:hover {
    text-decoration: none;
    color: #537d7b;
}

.uri .filename, uri.filename {
    font-size: 1.25em;    
    background-image: url("text-document.png");
    background-position: 1px 0px;
    background-repeat: no-repeat;
    margin-left:1px;
    padding-left:18px;
}

span.application {
    font-family:sans-serif;
    color: #282;
    font-style:italic;
    font-weight: bold;
}
span.command strong {
    font-family:monospace;
    font-weight: bold;
    font-size:120%;
    color:#336699;
}
code.literal {
    font-family:monospace;
    font-size:125%;
}

acronym.acronym {
    font-family:sans-serif;
    color: #282;
    font-weight:bold;    
}

span.markup {
    font-weight: bold;
    color: #8b2500;
    background-color: #eee;    
}

.figure {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*
.titlepage h2.title {
   font-weight:bold;
}
*/

/* Tables */

div.informaltable table {
    width: 90%;
    text-align: center;
}

div.table {
    width: 100%;
    display:block;
    text-align: center;
}
div.table-contents {
    margin-bottom:12px;
    display:block;    
}
table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;  
}
thead {
    background: #eee;
}

thead th {
    border: 1px solid #ccc;
    text-align: center;
}

div.table {
    margin-left: 15px;      
}

div.table-contents table {
    border: 1px solid #ccc;
    border-collapse: collapse;
}

div.table-contents td {
    border: 1px solid #ccc;
}

div.table-contents td p.checkmark:before {
    content: url("checkmark.png");
}

/* TOC */

.toc span.preface {
    padding-left: 15px;
    font: bold 1.05em Arial, serif;
    font-style: italic;
}


.toc span.part {
    padding-left: 15px;
    font: bold 1.3em Arial, serif;
}

span.chapter {
    padding-left: 15px;
    font: normal 1.05em Arial, serif;
}

span.sect1 {
    padding-left: 15px;
    font-size: .85em;
    font: normal .85em Georgia, serif;

}

div.toc {
    background-color:#efeedd;
    border:1px solid #cebcac;
    padding-bottom:2px;
    padding-top:10px;
    margin-bottom:15px;
}

span.sect2 {
    padding-left: 15px;
    font-size: .85em;
    font: normal .85em Georgia, serif;

}


.toc b {
    font-size: 1.5em;
    color:#555;
}

div.list-of-examples,
div.list-of-tables
{
    padding-top:10px;
    padding-bottom:5px;
    background-color:#e5ded2; 
    background-color:#efeedd;
    border:1px solid #c5beb2; 
    margin-bottom: -1px;
}

div.list-of-tables dl,
div.list-of-examples dl {
    margin-left: 25px;
}

div.list-of-figures  {
    padding-top:10px;
    padding-bottom:5px;
    background-color:#e5ded2; 
    background-color:#efeedd;
    border:1px solid #c5beb2; 
    margin-bottom: -1px;
    margin-top: -16px;
}

div.list-of-figures dl {
    margin-left: 25px;
}

/* Navigation part of the output */

div.navheader {
    background-color:#ebf1e8;
}

div.navfooter {
    background-color:#ebf1e8;
}

div.navheader td {
    font-size:0.85em;
}

div.navfooter td {
    font-size:0.85em;
}


.error-text {
    font-size: small;
    color: #700000;
}

.error-number {
    font-size: small;
    color: #700000;
}

/* Fancy screen/commands */

pre.screen
{
  margin: 0px; 
  margin-left: 15px;
  padding: 0px 5px;  
  font-size: 10pt;
  display:block;
  font-family: "Bitstream Vera Sans Mono", Courier, monospace;
  font-weight: normal;
  overflow: hidden;  
  background: url(img/code-anonymous-middle.png) repeat-y;
}

.terminaltop
{
  margin-left: 15px;
  background: url(img/code-anonymous-top.png) no-repeat;
  height: 41px;
  /*width: 750px;*/
}

.terminalbottom 
{
  margin-left: 15px;
  height: 37px;
  /*width: 750px;*/
  background: url(img/code-anonymous-bottom.png) no-repeat;
}







